
<% if @list_issues && @list_issues.any? %>
<%= form_tag({}) do %>
  <table class="list issues">
    <thead><tr>
    <th>#</th>
    <th><%=l(:field_project)%></th>
    <th><%=l(:field_tracker)%></th>
    <th><%=l(:field_subject)%></th>
    <th>BAC</th>
    <th>PV</th>
    <th>EV</th>
    <th>AV</th>
    <th>SV</th>
    <th>CV</th>
    <th>SPI</th>
    <th>CPI</th>
    </tr></thead>
    <tbody>
    <% @list_issues.each_with_index do |issue, index| %>
    <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
      <td class="id">
        <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;', :id => nil) %>
        <%= link_to(issue.id, issue_path(issue)) %>
      </td>
      <td class="project"><%= link_to_project(issue.project) %></td>
      <td class="tracker"><%= issue.tracker %></td>
      <td class="subject">
        <%= link_to(issue.subject.truncate(60), issue_path(issue)) %> (<%= issue.status %>)
      </td>
      <td class="subject"><%=@list_evm[index].bac %></td>
      <td class="subject"><%=@list_evm[index].pv %></td>
      <td class="subject"><%=@list_evm[index].ev %></td>
      <td class="subject"><%=@list_evm[index].av %></td>
      <td class="subject"><%=@list_evm[index].sv %></td>
      <td class="subject"><%=@list_evm[index].cv %></td>
      <td class="subject"><%=@list_evm[index].spi %></td>
      <td class="subject"><%=@list_evm[index].cpi %></td>
    </tr>
    <% end %>
    <% key_date, evm = @evmHash.first %>
    <tr class="hascontextmenu <%= cycle('odd', 'even') %> <%= @list_issues[0].css_classes %>">
      <td class="subject"></td>
      <td class="subject"></td>
      <td class="subject"></td>
      <td class="subject">Total</td>
      <td class="subject"><%= evm['bac'] %></td>
      <td class="subject"><%= evm['pv'] %></td>
      <td class="subject"><%= evm['ev'] %></td>
      <td class="subject"><%= evm['av'] %></td>
      <td class="subject"><%= evm['sv'] %></td>
      <td class="subject"><%= evm['cv'] %></td>
      <td class="subject"><%= evm['spi'] %></td>
      <td class="subject"><%= evm['cpi'] %></td>
    </tr>
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'voting', :plugin => 'polls' %>
<% end %>